name: Testing

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup anew (or from cache) vcpkg (and does not build any package)
      uses: lukka/run-vcpkg@v11 # Always specify the specific _version_ of the
                                  # action you need, `v11` in this case to stay up
                                  # to date with fixes on the v11 branch.
      with:
          # This is the default location of the directory containing vcpkg sources.
          # Change it to the right location if needed.
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
    - name: Run CMake
      run: cd ${{ github.workspace }} && cmake -B build -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
    - name: Run Make
      run: cd ${{ github.workspace }} && cmake --build build
    - name: Run Tests
      run: build/test_primitives
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # Put the name of your token here
      with:
        args: >
          --define sonar.cfamily.compile-commands=build/compile_commands.json
